# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# output files
Project\obj\*
Project\listing\*
Project\MagScanner_Master.uvopt
Project\MagScanner_Master.uvgui.*
Project\*.dep
